@import url(styles.css);

.footer {
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
  padding: 40px 0 20px;
  font-family: Arial, sans-serif;
  color: #444;

}
main{
      border-top: 1px solid black !important;
}

.container {
  max-width: 100%;
  padding: 2rem 2rem 0;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer__section {
  flex: 1;
  min-width: 200px;
}

.footer__about {
  max-width: 300px;
}

.footer__logo {
  width: 160px;
  margin-bottom: 10px;
}

.footer__text {
  font-size: 14px;
  margin-bottom: 20px;
  color: #666;
}

.footer__social img {
  width: 28px;
  height: 28px;
}

.footer__title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  color: #111;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__link {
  display: block;
  margin-bottom: 6px;
  color: #6c757d;
  text-decoration: none;
  font-size: 14px;
}

.footer__link:hover {
  color: #28a745;
}

.footer__bottom {
  border-top: 1px solid #111;
  text-align: center;
  padding: 2rem 0;
  font-size: 13px;
  color: #777;
  background-color: white;
}